environment {
    HSA_OVERRIDE_GFX_VERSION "11.0.0"
    PYTORCH_ROCM_ARCH "gfx1100"
    QT_QPA_PLATFORMTHEME "xdgdesktopportal"
    XDG_CURRENT_DESKTOP "niri"
    DISPLAY ":1"
    XDG_SESSION_TYPE "wayland"
    QT_QPA_PLATFORM "wayland"
    // Ensure Firefox runs natively on Wayland
    MOZ_ENABLE_WAYLAND "1"
}
