input {
    disable-power-key-handling
    workspace-auto-back-and-forth
    keyboard {
        repeat-delay 200
        repeat-rate 60
        xkb {}
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
        middle-emulation
        scroll-factor 0.4
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.2
        accel-profile "flat"
        scroll-factor 1.0
        // scroll-factor vertical=1.0 horizontal=-2.0
        // scroll-method "no-scroll"
        // scroll-button 273
        // scroll-button-lock
        // left-handed
        // middle-emulation
    }

    trackpoint {}
    focus-follows-mouse max-scroll-amount="10%"
}
