layout {
    gaps 3
    background-color "#080808" 
    center-focused-column "never"
     empty-workspace-above-first
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    insert-hint {
        // off
        gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
    focus-ring {
        // off
        width 3
        active-gradient from="#80c8ff" to="#bbddff" angle=45
    }
    border {
        off
        width 30
        active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-color "#9b0000"
    }
    shadow {
        off
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        left -1
        right -1
        top 2
        bottom 0
    }
}
